

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../Investor/photo/chat_back1.jpg");
    object-fit:unset;
    
}




.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    height: 80vh;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chat-box {
    flex-grow: 1;
    padding: 10px;
    background-color: #f7f7f7;
    background-image: url("../../Investor/photo/chatbox_back.jpg");

    border-radius: 4px;
    overflow: auto;
    margin-bottom: 15px;
    
    max-height: 70vh;
    
}

.input-box form{
    display: flex;
}

#messageInput {
    flex-grow: 1;
    border: 1px solid #569be5;
    border-right: none;
    border-radius: 4px 0 0 4px;
    padding: 10px;
}

input[type=submit]{

    border: 1px solid #569be5;
    border-left: none;
    background-color: #569be5;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

input[type=submit]:hover {
    background-color: #0056b3;
}

.old{
    display: flex;
    justify-content: flex-end;
    
}

.history{
    display: flex; 
     justify-content: flex-start;
   
}

.old:hover,
.history:hover{
    scale: 1.005;
    color: rgb(49, 47, 47);
}

.old h3,
.history h3{

    margin-left: 1vw;
}

.old h6,
.history h6{
    transition-delay: 2s;
    /* margin-top:40px; */

    font-size: 11px;
    color: rgb(85, 80, 80);
    display: none;

}

.showdate h6{

    

    display: block;

}

.heading{
    height: 90px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.image{
    display: flex;
    /* background-color: blue; */
    padding: 10px;
    gap: 1vw;
}
.image img{
    
    width:60px;
    height:60px;
    border-radius: 50px;
    border: 2px solid white;
}

.left_side{

    padding: 31px 15px;
    font-size: 20px;
    color: white;
    font-weight: 700;
   
    text-decoration: none;
}

.history img{


    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-top:13px;

}




