/* Section - Get Investment Today */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu',sans-serif;
}
:root{
  --blue:#3aff28;
  --white:#fff;
  --grey:#f5f5f5;
  --black1:#222;
  --black2:#999;

}

body{
  
  overflow-x: hidden;
}
header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b5afaf;
    padding: 20px;
    height: 50px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .logo-container img {
    max-height: 40px;
  }
  
  .exit-container a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }


  #progress-container {
    position: fixed;
    margin-top: 61px;
    width: 100%;
    background-color: #ddd;
    z-index: 1000;
    
  }
  
  #progress-bar{
    width: 33.33%;
    height: 10px;
    background-color: var(--blue);
  }

  
#get-investment {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 60px 0;
    margin-bottom: 30px;
    
  }
  
  #get-investment .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
  }
  
  #get-investment h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  #get-investment h3{
    font-size: 24px;
    margin-bottom: 30px;
    color: #777;
  }
  
  #get-investment form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
  }
  
  #get-investment form .step {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  #get-investment form .step.active {
    display: block;
  }
  
  #get-investment form h4 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  #get-investment form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
  }
  
  #get-investment form input[type="text"],
  #get-investment form input[type="email"],
  #get-investment form input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--blue);
    /* border-bottom: 2px solid #ccc; */
    margin-bottom: 20px;
    font-size: 16px;
  }

  #get-investment form input[type="text"]:hover,
  #get-investment form input[type="email"]:hover,
  #get-investment form input[type="tel"]:hover{
    
    border: 2px solid var(--black1);
    scale:1.1;
  }
  
  #get-investment form button {
    background-color: var(--black1);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #get-investment form button:hover {
    background-color: var(--blue);
    scale: 1.2;
  }
  
  #get-investment form .next-button {
    float: right;
    margin-top: 10px;
  }
  
  #get-investment form .prev-button {
    float: left;
    margin-top: 10px;
  }

  #get-investment form .submit-butn {
    float: right;
    margin-top: 10px;
  }

  .file{
    display: flex;
    justify-content: space-between;
  }
  
  
  