@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&dispaly=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu',sans-serif;
}
:root{
    --blue:#287bff;
    --white:#fff;
    --grey:#f5f5f5;
    --black1:#222;
    --black2:#999;

}

body{
    min-height: 100vh;
    overflow-x: hidden;
}


.container{
    position: relative;
    width: 100%;
}

.navbar{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left:10px solid var(--blue) ;
    transition: 0.5s;
    overflow: hidden;
    
}
.navbar.active{
    width: 80px;
}
.navbar ul{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.navbar ul li{
    position: relative;
    width:100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}


.navbar ul li:hover,
.navbar ul li.hover{
    background: var(--white);

}

.navbar ul li:nth-child(1){
    margin: 40px;
    pointer-events: none;
    margin-left: 0;


}





.navbar ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:var(--white);
}



.navbar ul li:hover a,
.navbar ul li.hover a{

    color: var(--blue);
    
}

.navbar ul li a .icon{

    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 80px;
    text-align: center;
}

.navbar ul li a .icon ion-icon{

    font-size: 1.75em;
}



.navbar ul li a .tittle{
    position: relative;
    display:block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;

} 

.navbar ul li:hover a::before{
     
    content:'';
    position: absolute;
    right: 0;
    top:-50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50px;
    box-shadow: 35px 35px  0 10px var(--white);
    pointer-events: none;

}

.navbar ul li:hover a::after,
.navbar ul li.hover a::after{
     
    content:'';
    position: absolute;
    right: 0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50px;
    box-shadow: 35px -35px 0 10px var(--white);

}
.tittleee h2{
    font-size: 30px;
    color:var(--blue);
    text-align:center;
    margin-left: -440px;
    overflow: hidden; 
    
}

/* main */


.main{  
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active{

    width: calc(100% - 80px);
    left: 80px;
}

 .topbar{
    
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.3);
}

.toggle{
position: relative;
width: 60px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
font-size: 2.5em;
cursor: pointer;
}


.search{
    position: relative;
    width: 400px;
    margin: 0 10px 0 -315px;
    overflow: hidden;
}


.search label{

 position: relative;
 width: 100%;


}


.search label input{

    
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    border: 1px solid var(--blue);
    
   
   }

   

   .search label ion-icon {
  position: absolute;
  top:0;
  left: 10px;
  font-size: 1.2em;

   }



   
   .user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
   }

   .user img{
    position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   
   
   }

   
.cardbox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:30px;



   
   
}
.cardbox .card{
    position: relative;
    background:var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);

   


    
}
.cardbox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
    
}

.cardbox .card .cardname{
    color:var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
    
} 

.cardbox .card .iconbox{
    font-size: 3.5em;
    color: var(--black1);
} 

.cardbox .card:hover{
    background: var(--blue);
}

.cardbox .card:hover .numbers,
.cardbox .card:hover .cardname,
.cardbox .card:hover .iconbox{
    color: var(--white);
}
/* chart */

.grapbox{

    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:30px;
   
    min-height: 200px;

}

.grapbox .box{
    position: relative;
    background: var(--white);
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    border-radius: 20px;
}


.box1 img{
    width: 200px;
    height: 200px;

}

.box2 img{
    width: 200px;
    height: 200px;
    align-items: center;

}
/* chart end*/


/*table*/
.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:10px;
}

.details .record{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);


}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader{
    font-weight: 600;
    color: var(--blue);
}

.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.btn:hover{
    background: var(--white);
    border: 2px solid var(--blue);
    color:var(--blue)
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top:10px;
    
    
}

.details table thead td{
  font-weight: 700;
}

.details .record table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .record table tr:last-child{
    border-bottom: none;
}
.details .record table tr:hover{
    background: var(--blue);
    
    color:var(--white);
    
}

.details .record table tr td{
    padding: 10px;
}

.details .record table tr td:last-child{
    text-align: end;
}

.details .record table tr td:nth-child(2){
    text-align: end;
}
.details .record table tr td:nth-child(3){
    text-align: center;
}
.delivered{

    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
     
}

.pending{

    padding: 2px 4px;
    background: #e0532c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
     
}

.recentcustomer{
   position: relative;
   display: grid;
   min-height: 500px;
   padding: 20px;
   background: var(--white);
   box-shadow: 0 7px 25px rgb(0,0,0,0.1);
   border-radius: 20px;
}
.recentcustomer .imgbox{

    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentcustomer .imgbox img{

      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.recentcustomer table tr:hover{
    background: var(--blue);
    color: var(--white);

}

.recentcustomer table tr td{
    padding: 12px 10px;
}

.recentcustomer table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.recentcustomer table tr td h4 span{
    font-size: 14px;
    color: var(--black2);
}

.recentcustomer table tr:hover{
    background: var(--blue);
    color: var(--white);
}

.recentcustomer table tr:hover td h4 span{
    
    color: var(--white);
}








/*table end*/




/* media */


@media (max-width: 991px){
    .grapbox{
        grid-template-columns: 1fr;
        height: auto;
    }
    .navbar{
        left:-300px;
    }
    .navbar.active{
        width: 300px;
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
       left:300px;
    }r
    .cardbox{
        grid-template-columns: repeat(2,1f);
    }
}


@media (max-width: 786px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    
    .record{
        overflow-x: auto;
    }
    
}

@media (max-width: 480px){
    .cardbox{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2{
      font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .navbar{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navbar.active{
        width: 100%;
        left: 0;
    }

    .toggle{
        z-index: 10001;
    }

    main.active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: #fff;
    }
}
/* media */